@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --border-color: #dbdbdb;
    --text-color: #333;
    --background-color: #a0a0a0;
    --primary-color: #065b6a;
    --white-color: white; 
    --font-family: 'Montserrat', sans-serif;
}

.wrap {
    display: flex;
    margin: 0;
    height: 100vh;
}

.wrapper{
    width: 100%;
    margin-left: 270px;
    padding: 0 20px;
    min-height: 100vh;
    transition: margin-left 0.4s ease;
    overflow-x: hidden;
}

/* Khi sidebar thu nhỏ, content cũng dịch trái */
.sidebar.collapsed ~ .wrapper {
    margin-left: 85px;
}


